<html>
    <head>
        <title>
            <%= title %>
        </title>
    <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body>


        <header class ="heading">
            <div class="head">

              <div id="welcome">  welcome to the board</div>
              <div  class="signout">
        <a href="/users/sign_out_faculty"> sign out</a>
              </div>
    </div>
        
    </div>
    </header>
        <div id ="boxes">
           
               


                <div class="small">
                    <a href="/users/std10detail">std 10</a> 
                </div>
                <div class="small">
                    <a href="/users/std11detail">std 11</a> 
                </div>
                <div class="small">
                    <a href="/users/std12detail">std 12</a> 
                </div>

                
            
        </div>

    </body>
</html>