
    <div>
        
	<div id="form_container">
	
		<h1><a>Feedback Form</a></h1>
		<form id="form_26583" class="appnitro"  method="POST" action="/form/submited">
					<div class="form_description">
			<h2>Feedback Form</h2>
			
		</div>						
			<ul >
			
					<li id="li_3" >
		<label class="description" for="element_3">Std </label>
		<div>
		<select class="element select medium" id="element_3" name="std" required> 
			<option value="" selected="selected"></option>
<option name="std" value="10" >10</option>
<option name="std"   value="11" >11</option>
<option  name="std" value="12" >12</option>

		</select>
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">subject </label>
		<div>
		<select class="element select medium" id="element_4" name="subject" required> 
			<option value="" selected="selected"></option>
<option value="maths-10" >Maths -10th</option>
<option value="science-10" >Science -10th</option>
<option value="phy" >Physics</option>
<option value="chem" >Chemistry</option>
<option value="maths" >Maths</option>
<option value="comp" >Computer</option>
<option value="english" >English</option>
<option value="guj-10" >Gujarati -10th</option>
<option value="hindi-10" >Hindi -12th</option>

		</select>
		</div> 
		</li>		<li id="q1"  >
		<label class="description" for="q1">The instructor's contribution to the course was:	 </label>
		<span>
			<input id="element_5_1" name="q1" class="element radio" type="radio" value="excellent" required/>
<label class="choice" for="element_5_1">Excellent</label>
<input id="element_5_2" name="q1" class="element radio" type="radio" value="v good" />
<label class="choice" for="element_5_2">Verry good</label>
<input id="element_5_3" name="q1" class="element radio" type="radio" value="good" />
<label class="choice" for="element_5_3">Good</label>
<input id="element_5_4" name="q1" class="element radio" type="radio" value="poor" />
<label class="choice" for="element_5_4">Poor</label>

		</span> 
		</li>		<li id="q2" >
		<label class="description" >Instructor's use of examples and illustrations was: </label>
		<span>
			<input id="element_6_1" name="q2" class="element radio" type="radio" value="excellent" required/>
<label class="choice" for="element_6_1">Excellent</label>
<input id="element_6_2" name="q2" class="element radio" type="radio" value="v good" />
<label class="choice" for="element_6_2">Verry good</label>
<input id="element_6_3" name="q2" class="element radio" type="radio" value="good" />
<label class="choice" for="element_6_3">Good</label>
<input id="element_6_4" name="q2" class="element radio" type="radio" value="poor" />
<label class="choice" for="element_6_4">Poor</label>

		</span> 
		</li>		<li id="q3" >
		<label class="description" for="q3">Student's confidence in instructor's knowledge was: </label>
		<span>
			<input id="element_7_1" name="q3" class="element radio" type="radio" value="excellent" required />
<label class="choice" for="element_7_1">Excellent</label>
<input id="element_7_2" name="q3" class="element radio" type="radio" value="v good" />
<label class="choice" for="element_7_2">Verry good</label>
<input id="element_7_3" name="q3" class="element radio" type="radio" value="good" />
<label class="choice" for="element_7_3">Good</label>
<input id="element_7_4" name="q3" class="element radio" type="radio" value="poor" />
<label class="choice" for="element_7_4">Poor</label>

		</span> 
		</li>		<li id="q4" >
		<label class="description" for="q4">Amount you learned was:	 </label>
		<span>
			<input id="element_8_1" name="q4" class="element radio" type="radio" value="excellent" required/>
<label class="choice" for="element_8_1">Excellent</label>
<input id="element_8_2" name="q4" class="element radio" type="radio" value="v good" />
<label class="choice" for="element_8_2">Verry good</label>
<input id="element_8_3" name="q4" class="element radio" type="radio" value="good" />
<label class="choice" for="element_8_3">Good</label>
<input id="element_8_4" name="q4" class="element radio" type="radio" value="poor" />
<label class="choice" for="element_8_4">Poor</label>

		</span> 
		</li>		<li id="q5" >
		<label class="description" for="q5">The course as a whole was </label>
		<span>
			<input id="element_9_1" name="q5" class="element radio" type="radio" value="excellent" required/>
<label class="choice" for="element_9_1">Excellent</label>
<input id="element_9_2" name="q5" class="element radio" type="radio" value="v good" />
<label class="choice" for="element_9_2">Verry good</label>
<input id="element_9_3" name="q5" class="element radio" type="radio" value="good" />
<label class="choice" for="element_9_3">Good</label>
<input id="element_9_4" name="q5" class="element radio" type="radio" value="poor" />
<label class="choice" for="element_9_4">Poor</label>

		</span> 
		</li>		<li id="q6" >
		<label class="description" for="q6">The course content was: </label>
		<span>
			<input id="element_10_1" name="q6" class="element radio" type="radio" value="excellent" required />
<label class="choice" for="element_10_1">Excellent</label>
<input id="element_10_2" name="q6" class="element radio" type="radio" value="v good" />
<label class="choice" for="element_10_2">Verry good</label>
<input id="element_10_3" name="q6" class="element radio" type="radio" value="good" />
<label class="choice" for="element_10_3">Good</label>
<input id="element_10_4" name="q6" class="element radio" type="radio" value="poor" />
<label class="choice" for="element_10_4">Poor</label>

		</span> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">What grade do you expect in this course?  </label>
		<div>
			<input id="element_1" name="grade" class="element text small" type="text" maxlength="255" value="" required/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Is there any other feedback you'd like to give on this class? </label>
		<div>
			<textarea id="element_2" name="feedback" class="element textarea small" required></textarea> 
		</div> 
		</li>
			
					
			    
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="submit" />
		
			</ul>
		</form>	
		
	</div>
	
    </div>
<!-- 
	<form action="/form/submited" method="POST">
		<input type="text" name="std" placeholder="std" required>
		<input type="text" name="subject" placeholder="subject" required>
		<input type="text" name="q1" placeholder="review" required>
		<input type="text" name="q2" placeholder="review" required>
		<input type="text" name="q3" placeholder="review" required>
		<input type="text" name="q4" placeholder="review" required>
		<input type="text" name="q5" placeholder="review" required>
		<input type="text" name="q6" placeholder="review" required>
		<input type="text" name="grade" placeholder="review" required>
		<input type="text" name="feedback" placeholder="review" required>

		<input type="submit" value="submit">

		
	</form> -->