
<header>
    
    <div class="heading">
    <p class="name">Inform Us</p>
    <div id="heading_side">
    <a href="/users/signup_student">sign up for student</a>
    <a href="/users/signin_student">sign in for student</a>
    <a href="/users/signin_principal">sign in for principal</a>
    </div>
    </div>
</header>
