<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet"   href="/css/header.css">
        <link rel="stylesheet"   href="/css/footer.css">
    </head>
    <body>
        
        <%- include ('header'); -%>
        
        <h1>this web app made for faculty feedback system</h1>
        
        <%- include ('footer'); -%>
    </body>
</html>