<html>
    <head>
        <title>
            Sign In for students
        </title>
        <link rel="stylesheet" href="/css/signin.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Sign In Page For Students</h1>
        <div class="signin">
            <form action="/users/createsession" method="POST">
                <div class="box">
                <label for="email"> Email</label>
                <input type="email" name="email" placeholder="example@xyz.com" required>
                </div>
                <div class="box">
                <label for="password"> Password</label>
                <input type="password" name="password" placeholder="Password" required>
                </div>
                <div id="subt">
                    <input type="submit" value="Sign In">
                </div>
                
            </form>
            
        </div>
        <div class="bottom">
            If you not Sign Up Plese &nbsp&nbsp <a href="/users/signup_student" class="left">Click Me</a>
        </div>
    </body>
</html>