<html>
    <head>
        <title>
            Sign In for faculty
        </title>
    </head>
    <body>
        <div>
            <form action="/users/ragister" method="POST">
                <input type="email" name="email" placeholder="example@xyz.com" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="submit">

                
            </form>
        </div>
    </body>
</html>