
body{
    margin: 0px;
}

.heading{
    
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    flex-direction: row;
    width:100%;
    height: 100px;
    margin: auto;
    /* display: flex; */
}

#welcome{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

.signout{
    margin-left:78%;
    border: white solid 3px;
    padding: 15px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    background-color:#fdcd3b;
    position: relative;
    top: -20px;
}
.signout a{
    text-decoration: none;
    color: white;
    font-size: large;
    width: 100%;
    

    
}
.signout:hover{
    background-color:#ffed4b;
    

}
.signout a:hover{

    color: black;

}
.head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}
#welcome {
    animation: bounceInUp 1000ms both
}
@keyframes bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.hhh{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ffd{
    color:white;
    background: linear-gradient(110deg, #7400b8 60%, #6930c3 60%);
    width: 500px;
    margin: 10px;
    border: black solid 3px;
    padding: 20px;
    border-radius: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    line-height: 23px;
    
    
}
.hhh11{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ffd11{
    color:white;
    background: linear-gradient(110deg, #012a4a 60%, #013a63 60%);
    width: 500px;
    margin: 10px;
    border: black solid 3px;
    padding: 20px;
    border-radius: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    line-height: 23px;
    
    
}
.hhh12{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ffd12{
    color:white;
    background: linear-gradient(110deg, #c9184a 60%, #ff4d6d 60%);
    width: 500px;
    margin: 10px;
    border: black solid 3px;
    padding: 20px;
    border-radius: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    line-height: 23px;
    
    
}

.naeming{
    background: rgb(28,106,147);
background: linear-gradient(108deg, rgba(28,106,147,1) 35%, rgba(0,213,255,1) 100%);
margin: 0px;
height: 70px;
margin-left:-40px;
width: 100vw;
font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    color: white;
    padding-top:30px ;

    
   
}
div>ul>.hhh {
    animation: bounceInRight 1000ms both
}
@keyframes bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
div>ul>.hhh12 {
    animation: bounceInRight 1000ms both
}

div>ul>.hhh11 {
    animation: bounceInLeft 1000ms both
}

@keyframes bounceInLeft {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}