body{
    margin: 0px;
}
.heading{
    background-color:#03256c;
    color: #ff811a;
    display:flex;
    margin: 0px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 80px;
    font-family: 'Caveat', cursive;
}
.name{
    font-size:5vh;
    margin-left: 2%;
}
#heading_side{
    margin-left: auto;
    padding: 20px;
    
}
#heading_side a{
    border: solid;
    border-color: #ff811a;
    color: #ff811a;
    padding:15px;
    border-radius:25px;
    margin:0px 15px;
    text-decoration: none;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    font-size: 2vh;
}

#heading_side :hover{
    background-color: #ff811a;
    color:#03256c;
}

p.name
{
    position: relative;
}
p.name:hover{
    color: #FFF;
}
p.name:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
p.name:hover:before {
    visibility: visible;
    width: 100%;
  }
  header>.heading>.name {
    animation: jello 6000ms infinite both;
    transform-style: preserve-3d
}